<ion-header>
  <ion-toolbar>
    <ion-title>My Pets</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment [(ngModel)]="selectedCategory" (ionChange)="categoryChanged()">
    <ion-segment-button value="all" class="segment-button">
      <div class="segment-icon">
        <ion-icon name="paw"></ion-icon>
        <ion-label>All Pets</ion-label>
      </div>
    </ion-segment-button>
    <ion-segment-button value="cat" class="segment-button">
      <div class="segment-icon">
        <ion-icon name="logo-octocat"></ion-icon>
        <ion-label>Cats</ion-label>
      </div>
    </ion-segment-button>
    <ion-segment-button value="dog" class="segment-button">
      <div class="segment-icon">
        <ion-icon name="dog-outline"></ion-icon>
        <ion-label>Dogs</ion-label>
      </div>
    </ion-segment-button>
  </ion-segment>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button [routerLink]="['/animal']" color="primary" shape="circle">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="selectedCategory === 'all' && pets.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let pet of pets">
        <ion-card>
          <!-- Display pet details here... -->
          <ion-card-header>
            <ion-card-title>{{ pet.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Add more pet details here if needed -->
            Type: {{ pet.type }}
            <br>
            Breed: {{ pet.breed }}
            <!-- Add more pet details here if needed -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="selectedCategory === 'all' && pets.length === 0">No pets found.</div>
  <div *ngIf="selectedCategory !== 'all'">No pets found in this category.</div>
</ion-content>
