<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding">
    <img src="assets/gera.jpg">
    <h3>Personal Details</h3>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Name</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="create-outline" slot="end"></ion-icon>
        <ion-input aria-label="Name" value="Gerachelle Grace Comia"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Email</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="create-outline" slot="end"></ion-icon>
        <ion-input aria-label="Email" value="gerachellecomia@gmail.com"></ion-input>
      </ion-item>
      <ion-button color="primary" size="small">Verify Email</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Password</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="create-outline" slot="end"></ion-icon>
        <ion-input aria-label="password" type="password" value="password"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mobile Number</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="create-outline" slot="end"></ion-icon>
        <ion-input aria-label="Number" value="+63 977 726 7549"></ion-input>
      </ion-item>
      <ion-button fill="outline" color="primary" size="small">Verified
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <small>Facebook</small>
      <a [routerLink]="['/forgot-password']" class="small-text">Connect</a>
    </ion-card-content>
  </ion-card>

  
</ion-content>