<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="my-pets">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>My Pets</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="reminders">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Reminders</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>