<div class="ion-text-center">
  <img src="assets/pet.png" alt="cloud">
  
  <h1>Tails of Freedom</h1>
  <pre> A N I M A L   S H E L T E R </pre>
</div>
<br>
<br>
<br>
<br>


<ion-content class="auth-form" style="background-image: url('assets/logBg.png')">
  <form>
    <ion-item lines="full">
      <ion-label class="user_name" position="floating">
        <ion-icon name="person" slot="start"></ion-icon> <!-- Icon for username -->
        Username
      </ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="password" position="floating">
        <ion-icon name="lock-closed" slot="start"></ion-icon> <!-- Icon for password -->
        Password
      </ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
  </form>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/dashboard']" expand="block" fill="outline" style="color:black" color="#ffffff">Sign in as Admin</ion-button>
        <ion-button [routerLink]="['/create-account']" expand="block" color="primary">CREATE ACCOUNT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
