ion-icon{
    font-size: 30px;
    position: relative;
    margin-right: 10px;
}
img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .profile-picture {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-name-container {
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .user-name {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
  }
ion-content{
    --background: #ffffff;
    font-family: 'Poppins', sans-serif;

    h4{
        padding:5px;
        color:gray;
    }
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .profile-picture {
    border: 2px solid #ccc; /* Gray border */
    border-radius: 50%; /* Creates the circle shape */
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
  }
  